<footer>
  <div class="footer-row">
    <div class="footer-column">
      <img width="150" src="../public/imgs/UNDP_accelerator_labs_logo_vertical_color_RGB.png" alt="UNDP logo">
      <p>UNDP Accelerator Labs</p>
    </div>
    <div class="footer-column">
      <h4>Our Partners</h4>
      <ul>
        <li>Partner 1</li>
        <li>Partner 2</li>
        <li>Partner 3</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Links</h4>
      <ul>
        <li><a href="https://www.undp.org/acceleratorlabs">About Us</a></li>
        <li><a href="https://www.undp.org/accountability/audit/investigations">Report fraud, abuse, misconduct</a></li>
        <li><a href="https://www.undp.org/scam-alert">Scam Alert</a></li>
        <li><a href="https://www.undp.org/copyright-terms-use">Terms of Use</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-row">
    <div class="footer-column">
      <p>&copy; 2023 United Nations Development Programme</p>
    </div>
    <div class="footer-column">
      <h4>Follow Us</h4>
      <ul class="social-media-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
