.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #317aab;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.profile-link {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

.profile-image {
  width: 150px;
  height: auto; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 0 0 calc(50% - 16px); /* Adjust the width and margins as needed */
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card-container {
  padding: 0 16px;
}

.card-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
