
// @import "{{ site.theme }}";

// .markdown-body {
//   font-family: "Noto Sans", sans-serif; /* Primary font */
// }

// body {
//     font-family: "Noto Sans", sans-serif; /* Primary font */
    // margin: 10;
    // padding: 10;
// }

h1, h2, h3, h4, h5, h6 {
font-family: "Noto Serif", serif; /* Secondary font */
}
  
.button {
  background-color: white;
  padding: 0 0.8rem;
  border-radius: 4px;
  background-color: transparent;
  border-color: #0087cb;
  color: #0087cb;
  letter-spacing: 0;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: #0087cb; 
    color: white;
  }
}

/* Styles for the left button */
#left-button {
  float: left;
}

/* Styles for the right button */
#right-button {
  float: right;
}

// Define variables
$footer-bg-color: #006eb5;
$footer-link-color: #fff;
$footer-link-hover-color: #ccc;
$footer-text-color: #ccc;

// Footer styles
.footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  &__logo {
    flex-basis: 30%;

    img {
      max-height: 50px;
    }

    h3 {
      margin: 0;
      font-size: 1.2rem;
    }
  }

  &__partners {
    flex-basis: 30%;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0.5rem 0;
        font-size: 0.9rem;
      }
    }
  }

  &__links {
    flex-basis: 30%;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0.5rem 0;
        font-size: 0.9rem;
      }

      a {
        color: $footer-link-color;
        text-decoration: none;
        transition: color 0.2s;

        &:hover {
          color: $footer-link-hover-color;
        }
      }
    }
  }

  &__copyright {
    flex-basis: 30%;
    font-size: 0.9rem;
    text-align: center;
  }

  &__social-media {
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;

      li {
        margin: 0 0.5rem;

        a {
          color: $footer-text-color;
          text-decoration: none;
          transition: color 0.2s;

          &:hover {
            color: $footer-link-hover-color;
          }
        }
      }
    }
  }
}
