<div class="grid-x grid-margin-x author-card">
  {% for contributor_data in site.data.contributors %} {% assign contributor_key
  = contributor_data[0] %} {% assign contributor = contributor_data[1] %}
  <div class="cell medium-4">
    <div class="author-box">
      <a href="{{ site.baseurl }}{{contributor.href}}" class="secondary">
      <div class="author__img">
        {% if contributor.picture_dir %}
        <img
          src="{{ site.baseurl }}/public/{{ contributor.picture_dir }}"
          alt="{{ contributor.name }}"
          class="profile-image"
        />
        {% else %}
        <img
          src="{{ site.baseurl }}/public/imgs/contributors/blank.png"
          alt="Blank"
          class="profile-image"
        />
        {% endif %}
      </div>
    </a>
      <div class="author-label">
        <h6
          class=""
          tabindex="0"
          data-viewport="false"
        >
          {{ contributor.name }}
        </h6>
        <p>{{ contributor.organization }}</p>
        <p>{{ contributor.job_title }}</p>
      </div>
    </div>
    <p>{{ contributor.bio }}</p>
    <p></p>

    <div class="cta__link cta--space">
      {% if contributor.email %}
      <span style="padding-right: 0.4em"
        ><a href="mailto:{{ contributor.email | encode_email }}">Contact </a></span
      >
      {% endif %}

      {% if contributor.twitter %}
      <span style="padding-right: 0.4em"
        ><a target="_blank" href="{{ contributor.twitter }}"
          ><i class="fa fa-twitter"></i></a
      ></span>
      {% endif %}

      {% if contributor.linkedin %}
      <span style="padding-right: 0.4em"
        ><a target="_blank" href="{{ contributor.linkedin }}"
          ><i class="fa fa-linkedin"></i></a
      ></span>
      {% endif %}

      {% if contributor.github %}
      <span style="padding-right: 0.4em"
        ><a target="_blank" href="{{ contributor.github }}"
          ><i class="fa fa-github"></i></a
      ></span>
      {% endif %}

    </div>
  </div>
  {% endfor %}
</div>
