<footer>
  <style>
    .footer {
      background-color: #006eb5;
      color: #ccc;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 1rem;
      align-items: center;
    }
    .footer__logo {
      flex-basis: 30%;
    }
    .footer__logo img {
      max-height: 50px;
    }
    .footer__logo h3 {
      margin: 0;
      font-size: 1.2rem;
    }
    .footer__partners {
      flex-basis: 30%;
    }
    .footer__partners ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .footer__partners ul li {
      margin: 0.5rem 0;
      font-size: 0.9rem;
    }
    .footer__links {
      flex-basis: 30%;
    }
    .footer__links ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .footer__links ul li {
      margin: 0.5rem 0;
      font-size: 0.9rem;
    }
    .footer__links ul a {
      color: #fff;
      text-decoration: none;
      transition: color 0.2s;
    }
    .footer__links ul a:hover {
      color: #ccc;
    }
    .footer__copyright {
      flex-basis: 30%;
      font-size: 0.9rem;
      text-align: center;
    }
    .footer__social-media {
      flex-basis: 30%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    .footer__social-media ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
    }
    .footer__social-media ul li {
      margin: 0 0.5rem;
    }
    .footer__social-media ul li a {
      color: #ccc;
      text-decoration: none;
      transition: color 0.2s;
    }
    .footer__social-media ul li a:hover {
      color: #ccc;
    }
  </style>
  <div class="footer-row">
    <div class="footer-column">
      <img width="150" src="../public/imgs/UNDP_accelerator_labs_logo_vertical_color_RGB.png" alt="UNDP logo">
      <p>UNDP Accelerator Labs</p>
    </div>
    <div class="footer-column">
      <h4>Our Partners</h4>
      <ul>
        <li>Partner 1</li>
        <li>Partner 2</li>
        <li>Partner 3</li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Links</h4>
      <ul>
        <li><a href="https://www.undp.org/acceleratorlabs">About Us</a></li>
        <li><a href="https://www.undp.org/accountability/audit/investigations">Report fraud, abuse, misconduct</a></li>
        <li><a href="https://www.undp.org/scam-alert">Scam Alert</a></li>
        <li><a href="https://www.undp.org/copyright-terms-use">Terms of Use</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-row">
    <div class="footer-column">
      <p>&copy; 2023 United Nations Development Programme</p>
    </div>
    <div class="footer-column">
      <h4>Follow Us</h4>
      <ul class="social-media-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
