<footer style="padding-top:5em;">
  <hr />
  <div class="footer-row">
    <div class="footer-column">
      <img src="{{ site.baseurl }}{{ site.data.site_info.logo_image_url }}"  width="150" alt="undp accelerator labs logo">
      <p>{{ site.data.site_info.footer_organization }}</p>
    </div>
    <div class="footer-column">
      <h4>Links</h4>
      <ul>
        <li><a target="_blank" href="{{ site.data.site_info.about_url }}">About Us</a></li>
        <li><a target="_blank" href="{{ site.data.site_info.fraud_report_url }}">Report fraud, abuse, misconduct</a></li>
        <li><a target="_blank" href="{{ site.data.site_info.scam_alert_url }}">Scam Alert</a></li>
        <li><a target="_blank" href="{{ site.data.site_info.terms_of_use_url }}">Terms of Use</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <img src="{{ site.baseurl }}{{ site.data.site_info.partners_image_url }}"  alt="undp accelerator Partnerslogo">
    </div>
  </div>
  <div class="footer-row">
    <div class="footer-column">
      <p>&copy; {{ site.data.site_info.current_year }} {{ site.data.site_info.copyright_holder }}</p>
    </div>
    <div class="footer-column">
      <h4>Follow Us</h4>
      <div class="social-media-links">
        <li><a target="_blank" href="{{ site.data.site_info.linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
        <li><a target="_blank" href="{{ site.data.site_info.twitter_url }}"><i class="fa fa-twitter"></i></a></li>
        <li><a target="_blank" href="{{ site.data.site_info.instagram_url }}"><i class="fa fa-instagram"></i></a></li>
      </div>
    </div>
    <div class="footer-column"></div>
  </div>
</footer>
