<footer style="padding-top:3em;">
  <style>
    /* Footer */
  footer {
  background-color: #fafafa;
  color: #006eb5;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.footer-column {
  flex-basis: 30%;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

h4 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin-bottom: 0.5rem;
}

li {
  list-style: none;
  margin-bottom: 0.5rem;
}

a {
  color: #006eb5;
  font-weight: 1.5rem;
  text-decoration: none;
}

.social-media-links li {
  display: inline-block;
  margin-right: 1rem;
}

  </style>

  <hr />
  <div class="footer-row">
    <div class="footer-column">
      <img src="public/imgs/UNDP_accelerator_labs_logo_vertical_color_RGB.png"  width="150" alt="undp accelerator labs logo">
      <p>UNDP Accelerator Labs</p>
    </div>
    <div class="footer-column">
      <h4>Our Partners</h4>
      <!-- <ul> -->
        <li>Partner 1</li>
        <li>Partner 2</li>
        <li>Partner 3</li>
      <!-- </ul> -->
    </div>
    <div class="footer-column">
      <h4>Links</h4>
      <!-- <ul> -->
        <li><a href="https://www.undp.org/acceleratorlabs">About Us</a></li>
        <li><a href="https://www.undp.org/accountability/audit/investigations">Report fraud, abuse, misconduct</a></li>
        <li><a href="https://www.undp.org/scam-alert">Scam Alert</a></li>
        <li><a href="https://www.undp.org/copyright-terms-use">Terms of Use</a></li>
      <!-- </ul> -->
    </div>
  </div>
  <div class="footer-row">
    <div class="footer-column">
      <p>&copy; 2023 United Nations Development Programme</p>
    </div>
    <div class="footer-column">
      <h4>Follow Us</h4>
      <ul class="social-media-links">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
