---
layout: default
---

<div class="grid-container fluid author-page">
  <div class="grid-x">
    <div class="cell medium-offset-1 medium-10 small-12">
      <div class="author-summary inviewport" data-viewport="true">
        <div class="author-summary-left">
          <div class="author__img large">
            {% if page.contributor.picture_dir %}
            <img
              src="{{ site.baseurl }}/public{{ page.contributor.picture_dir }}"
              alt="{{ page.contributor.name }}"
              class="profile-image"
            />
            {% else %}
            <img
              src="{{ site.baseurl }}/public/imgs/contributors/blank.png"
              alt="Blank"
              class="profile-image"
            />
            {% endif %}
          </div>
          <div class="author-summary-text">
            <h2 class="" tabindex="0" data-viewport="false">
              {{ page.contributor.name }}
            </h2>
            <p>{{ page.contributor.organization }}</p>
            <p>{{ page.contributor.job_title }}</p>
          </div>
        </div>
        <div class="author-summary-right">
          <p>{{ page.contributor.bio }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="grid-container fluid author-page">
  <div class="grid-x">
    <div class="cell medium-offset-1 medium-10 small-12">
      <div class="author-summary-left">
        <div class="cta__link cta--space">
          {% if page.contributor.email %}
          <span style="padding-right: 0.4em"
            ><a href="mailto:{{ page.contributor.email | encode_email }}">Contact </a></span
          >
          {% endif %}

          {% if page.contributor.twitter %}
          <span style="padding-right: 0.4em"
            ><a target="_blank" href="{{ page.contributor.twitter }}"
              ><i class="fa fa-twitter"></i></a
          ></span>
          {% endif %}
          
          {% if page.contributor.linkedin %}
          <span style="padding-right: 0.4em"
            ><a target="_blank" href="{{ page.contributor.linkedin }}"
              ><i class="fa fa-linkedin"></i></a
          ></span>
          {% endif %}

          {% if page.contributor.github %}
          <span style="padding-right: 0.4em"
            ><a target="_blank" href="{{ page.contributor.github }}"
              ><i class="fa fa-github"></i></a
          ></span>
          {% endif %}

        </div>
      </div>
    </div>
  </div>
</div>
