<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/public/imgs/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/public/imgs/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/public/imgs/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/public/imgs/favicon.ico">
    <!-- <link rel="manifest" href="../public/imgs/site.webmanifest"> -->

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/custom.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/footer.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/profile.css?v=" | append: site.github.build_revision | relative_url }}">

    <title>National Innovation Ecosystems (NIEs) Toolkit</title>

    <!-- OGP tags -->
    <meta property="og:title" content="National Innovation Ecosystem (NIE) Toolkit">
    <meta property="og:description" content="This toolkit was produced in the cultural context of UNDP’s Accelerator Labs and Chief Digital Office. It inherits their culture of deep listening, immersion within the everyday reality of the Global South, respect for grassroots innovation, openness, and epistemological humility. It does not seek to provide turnkey solutions, but to share the knowledge accumulated along the way, in the hope of making the task of supporting innovation ecosystems a little less difficult.">
    <meta property="og:site_name" content="National Innovation Ecosystem (NIE) Toolkit">
    
    <meta property="og:image" content="https://undp-accelerator-labs.github.io/national_innovation_ecosystems_toolkit/public/imgs/UNDP_accelerator_labs_logo_vertical_color_RGB.png" />
    <meta property="og:image:secure_url" content="https://undp-accelerator-labs.github.io/national_innovation_ecosystems_toolkit/public/imgs/UNDP_accelerator_labs_logo_vertical_color_RGB.png" />
    <!-- <meta property="og:image:type" content="image/png" /> -->
    <meta property="og:image:width" content="400" />
    <!-- <meta property="og:image:height" content="300" /> -->
    <meta property="og:image:alt" content="UNDP Accelerator Labs Logo" />

  </head>
  <body>
    {% include components/sidebar.html %}

    {% include components/header.html %}

    {% include components/partial-header.html %}

    <div class="container-lg px-3 my-5 markdown-body">

      {% include components/breadcrumbs.html %}


      {{ content }}

      {% if site.github.private != true and site.github.license %}
      <div class="footer border-top border-gray-light mt-5 pt-3 text-right text-gray">
        This site is open source. Improve this page.
      </div>
      {% endif %}

      
    </div>

    {% include components/footer.html %}
  <!-- </div> -->
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
    <script type='javascript'>
      console.log('{{site}}')
      console.log('{{site.github}}')
    </script>
		<script data-goatcounter="https://UNDP-NIE-toolkit.goatcounter.com/count"
		        async src="//gc.zgo.at/count.js"></script>
  </body>
</html>
